straight/*
elpa
recentf
persp-confs/*
auto-save-list
.lsp-session-*
.DS_Store
tramp
transient
eln-cache
session.*
links
.cache 
tutorial
org-roam.db
.org-id-locations
bookmarks
session.*
eshell/
url/

